.py-4 {
    width: 800px;
    height: 100%;
}

.login{
  .card{
    background-color: #FEEEBC;
    border: none;

    .bg-dark{
      font-size: 20px;
    }

  }

}


.reset-password{

  .card{
    background-color: #FEEEBC;
    border: none;

    // .bg-dark{
    //   font-size: 20px;
    // }

  }

}
